<div class="article" data-id="{{id}}">
	<h2><a target="_blank" href="{{link}}">{{title}}</a> 👿</h2>
	<h3>{{blurb}}</h3>
	<button class="addNote" data-id="{{id}}">Add note</button>
	<button class="viewNote" data-id="{{id}}">View notes</button>
</div>